       *{
            margin: 0;
            padding: 0;
        }

        body{
        background-color:black;
        color:white;
        }
        .container{
            max-width: 1000px;
            background-color:darkslategrey;
            margin:0 auto;
            padding:10px;

        }
        .mehuimg{
            width:150px;
            height:160px;
            border:3px solid white;
            border-radius: 50%;
            float:left;
            padding:5px;

        }
        
        a{
            color:aqua;
        }
        
        p{
        color:mediumturquoise;
        }
        h1,h2,h3,h4,h5,h6{   
        color:lightblue
        }
        #institute{
        width:600px;
        height:80px;
        background-color:steelblue;
        margin:0 auto;
        }
        
        .left-div ul li{
            list-style-type: none;
            margin:20px;
            
        }
        .left-div ul li a{
            text-decoration: none;
            color:rgb(18, 228, 228)
        }
        .left-div ul li a:hover{
            text-decoration: underline;
            color:rgb(218, 77, 12);
        }
        .header-bio{
            float:left;
            padding:50px;
        }
        .header-contact{
            float:right;
            padding:50px;
        }
        .header-contact a{
            text-decoration: none;
            color:rgb(21, 161, 226);
            font-weight: bold;

        }
        .header-contact a:hover{
            text-decoration: underline;
            color:rgb(226, 169, 169);
        }
        .div-clear{
            clear:both;
        }
        .content{
            margin-bottom: 30px;
        }
        .left-div{
            width:30%;
            float:left;

        }
        .right-div{
            width:70%;
            float:left;
        }
        .common-hr{
            border: solid white 1px;
            border-bottom:none;
            width:100%;
            margin:20px auto;
        }
        .bottom{
            background-color:rgb(71, 50, 23);
            text-align: center;
            padding:10px;
        }
        .bottom p{
            color:turquoise;
            margin:20px;
        }
        .bottom a{
            color:skyblue;
            text-decoration: none;
            margin:20px;
        }
        .bottom a:hover{
            color:rgb(211, 134, 99);
            text-decoration: underline;
        }
        
